body{
    background-color: #e47fe4;
    color: #80abeb;
    font-size: 35px;
}

h1{
    color: #FF0000;
}

p{
    color: #0000FF;
}

div{
    background-color: #AAAADD;
    padding: 20px;
    border-style: dotted;
    border-width: 10px;
    border-color: #AA00DD;
    margin: 100px;
    border-radius: 25px;
    margin: 20px;
}

.imgRound{
    border-radius: 30%;
}

.fotos{
background-color: hotpink;
border-style: none;
margin: 0px;
padding: 0px;
}

a{
    color: #FF0000;
}