body{
background-color: #cc99ff;
}

header{
    background-color: 	#ff99e6;
}

nav{
    background-color: #99ffff;
}

div{
    background-color: #ff9999;
}

footer{
    background-color: #b3ff99;
    padding: 2px;
}

.fa{
    color: #ff18ff;
}